.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.4rem;
  margin-bottom: -0.3rem;
}

.tech-icon-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-icon {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.4s ease;
}

.tech-icon-wrapper:hover .tech-icon {
  transform: scale(1.1);
}

.jenkins-logo {
    width: auto !important;
    height: 2rem !important;
}
/* Wrapper for each tech logo */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip img {
    width: 2rem;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.tooltip:hover img {
    transform: scale(1.1);
}

/* Tooltip bubble */
.tooltip .tooltip-text {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-button-background);
    font-family: "BodyFont";
    color: var(--color-text-titles);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: var(--color-button-background) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-4px);
}
