.project-item {
background-color: var(--color-element-2-background);
    border-radius: 8px;
    padding: 1rem;
    break-inside: avoid;
    margin-bottom: 10px;
}

.project-item h4 {
    margin: 0.1rem 0 -0.1rem 0;
}

.project-description p {
    font-size: 0.9rem;
    margin: 0.3rem 0;
}

.project-image {
    max-width: 100%;
    border-radius: 8px;
}

.project-buttons {
    display: flex;
    margin-top: 0.6rem;
    gap: 0.5rem ;
}