.timeline-item-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
}

.timeline-item-vertical-timeline {
    position: relative;
    display: flex;
}

.timeline-item-vertical-line {
    position: relative;
    background-color: gray;
    width: 2px;
    height: 100%;
    margin-left: 2.4rem;
}

.timeline-item-vertical-line-logo {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 45px;

    margin-left: 1rem;
    margin-top: 2rem;
}

.timeline-item-separator-line {
    position: relative;
    background-color: gray;
    width: 30%;
    height: 1px;
    margin: 0.4rem 0 0.2rem 0;
    border-radius: 45px;
}

.timeline-item-container:last-child .timeline-item-separator-line {
    display: none;
}

.timeline-item-container:last-child p {
    margin-bottom: 0.5rem;
}

.timeline-item-description p {
    white-space: pre-line;
}

.timeline-item-description span {
    color: var(--color-text-bodytext);
    font-size: 0.8rem;
}

.timeline-item-description h4,
.timeline-item-description h5,
.timeline-item-description p {
    margin: 0 0 0.1rem 0;
}


.timeline-item-description p {
    font-size: 0.9rem;
}