.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: clamp(0.5rem, 3vw, 2rem);
}

#title-name {
  font-size: clamp(1.5rem, 10vw, 4rem);
  margin: 0;
  flex-shrink: 0;
  white-space: nowrap;
}

#portrait {
  width: clamp(45px, 15vw, 120px);
  height: clamp(45px, 15vw, 120px);
  margin: 0 0 0 auto;
  flex-shrink: 0;
}

@media (min-width: 651px) {
  .profile-header {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }

  #title-name {
    font-size: 2rem;
    order: 2;
  }

  #portrait {
    width: 200px;
    height: 200px;
    margin: 0;
    order: 1;
  }
}

#contact-buttons {
  display: block;
}

#contact-buttons a {
  margin: 0rem 0.5rem 0.5rem 0rem;
}

aside {
  min-width: 250px;
  max-width: auto;
}