/* Portrait image styling */
#portrait {
    max-width: 200px;
}

#contact-buttons {
    display: block;
}

#contact-buttons a {
    margin: 0rem 0.5rem 0.5rem 0rem;
}

aside {
    min-width: 300px;
}