:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-titles);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'HeadingFont';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'BodyFont';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

/* Dark Mode (standard) */
:root {
  --color-background: rgb(12, 12, 12);
  --color-text-titles: rgb(255, 255, 255);
  --color-text-titles-muted: rgb(128, 128, 128);
  --color-text-bodytext: rgb(185, 185, 185);

  --color-main-element-background: rgb(24, 24, 24);
  --color-main-element-background-hover: rgb(30, 30, 30);

  --color-button-background: rgb(37, 37, 37);
  --color-button-border: rgb(70, 70, 70);
  --color-button-hover-background: rgb(50, 50, 50);
  --color-button-hover-border: rgb(100, 100, 100);
}

:root.light-mode {
  --color-background: #ffffff; /* pure white background */
  --color-text-titles: #000000;
  --color-text-titles-muted: #6a6f77; /* slightly softer muted gray */
  --color-text-bodytext: #2b2b2b;

  --color-main-element-background: #f7f9fc; /* elegant blue-tinted light gray */
  --color-main-element-background-hover: #edf2f9; /* slightly darker on hover */

  --color-button-background: #f0f4fa; /* soft bluish-gray */
  --color-button-border: #d5e0ee; /* cool light border */
  --color-button-hover-background: #e0e9f5;
  --color-button-hover-border: #b3c7e6;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* horizontally center */
  padding: 1rem;
  /* inner spacing */
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "HeadingFont";
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-family: "BodyFont";
  color: var(--color-text-bodytext);
}

a {
  color: var(--color-text-titles);
}